.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.breadcrumbItem {
  display: flex;
  align-items: center;
}

.breadcrumbLink {
  color: var(--ifm-link-color);
  text-decoration: none;
}

.breadcrumbLink:hover {
  text-decoration: underline;
}

.breadcrumbSeparator {
  margin: 0 8px;
  color: var(--ifm-color-gray-500);
}
